* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 30px;
}


/*#prenom {
  font-size: 4rem;
}

#nomdefamille {
  font-size: 4.5rem;
}*/

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 0;
}

#competences h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 30px 0;
}

i {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    margin-top: 60px;
    padding: 40px;
    background-color: rgb(36, 36, 36);
}

footer h3 {
    color: rgb(215, 215, 215);
}

footer i {
    color: rgb(215, 215, 215);
}

footer p {
    color: rgb(215, 215, 215);
}

footer a {
    text-decoration: none;
    color: rgb(215, 215, 215);
}

img {
    max-width: 100%;
    max-height: 100%;
}

#competences {
    margin-top: 40px;
    margin-bottom: 40px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rond {
    width: 200px;
    height: 200px;
    margin: 20px 40px;
    border-radius: 50%;
    position: relative;
}

.rond:after, .rond:before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.rond-1:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: #dbe2ef;
    border-bottom-color: #dbe2ef;
    animation: spinny 2s linear infinite;
    -webkit-animation: spinny 2s linear infinite;
    -moz-animation: spinny 2s linear infinite;
    -o-animation: spinny 2s linear infinite;
    -ms-animation: spinny 2s linear infinite;
}

#boutoncv a {
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    font-size: 0.75rem;
}

#boutoncv a:hover {
    background-color: #000;
    color: rgb(215, 215, 215);
}

#blog {
    background-image: url('../img/logohand.png');
}

#generateur {
    background-image: url('../img/logogene.png');
}

#integration {
    background-image: url('../img/logoreal.png');
}

#chainevimeo {
    background-image: url('../img/logovimeo.png');
}

.descriptionprojets {
    font-weight: 300;
}

#email a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

#email a:hover {
    background-color: #000;
    color: rgb(215, 215, 215);
}

#github, #linkedin, #gitlab, #twitter {
    font-size: 1.5rem;
    margin: 0 7px;
}

.retour {
    margin: 40px 0;
}

.retour a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

.retour a:hover {
  background-color: #000;
  color: rgb(215, 215, 215);
}

.imgreal {
  box-shadow: 2px 2px 10px rgb(106, 106, 106);
}

/*----------MEDIA QUERIES----------*/

@media only screen and (min-width: 33.75em) {
    /* 540px */
    h1 {
        font-size: 6rem;
    }
    /*#prenom {
      font-size: 5.5rem;
    }

    #nomdefamille {
      font-size: 6rem;
    }*/
    #boutoncv a {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 45em) {
    /* 720px */
    h1 {
        font-size: 10rem;
    }
    /*#prenom {
      font-size: 9.5rem;
    }

    #nomdefamille {
      font-size: 10rem;
    }*/
}

@media only screen and (min-width: 60em) {
    /* 960px */
    #github, #linkedin, #gitlab, #twitter {
        font-size: 2rem;
        margin: 0 10px;
    }
}
